{
  "parser": "babel-eslint",

  "env": {
    "browser": true
  },

  "plugins": [
    "prettier"
  ],
  
  "rules": {
    "react/jsx-one-expression-per-line": "off"
  },

  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ]
}