[
  {"resource": "Apple MacBook Charger", "amount": 5},
  {"resource": "Apple MacBook Pro (15-inch Retina)", "amount": 5},
  {"resource": "Canon XA20 Camcorders", "amount": 5},
  {"resource": "Cisco CP-6941 Telephone  - Staff Only", "amount": 5},
  {"resource": "Computer Mouse", "amount": 5},
  {"resource": "HDMI Cable", "amount": 5},
  {"resource": "Lighting Kit", "amount": 5},
  {"resource": "Logitech BCC950 Conference Camera - Staff Only", "amount": 5},
  {"resource": "Manfrotto Cine/Video Dolly", "amount": 5},
  {"resource": "Micro HDMI to HDMI Cable", "amount": 5},
  {"resource": "Mini Displayport to HDMI adapter", "amount": 5},
  {"resource": "Mini Displayport to HDMI Cable", "amount": 5},
  {"resource": "Panasonic PT-VZ570 Projector - Staff Only", "amount": 5},
  {"resource": "Rode Boom Kit", "amount": 5},
  {"resource": "Toshiba Portege Z30 Ultrabook", "amount": 5},
  {"resource": "Toshiba Portege Z30 Ultrabook Charger", "amount": 5},
  {"resource": "Tripod", "amount": 5},
  {"resource": "Turning Point Remotes - Staff Only", "amount": 5},
  {"resource": "USB C to HDMI Adaptor", "amount": 5},
  {"resource": "USB-A to USB-C Adapter", "amount": 5}
]